<footer class="topnav">
    <div  id="nav-mobile">
        <div class="center" style="color: white;">
         Julian Villalba 2020

        </div>
                <div class="center" style="color: white;">
         <a href="https://github.com/jrvillalba1993/scraper_news">Github Repo</a>
        </div>
    </div>
</footer>