<nav>
    <div class="nav-wrapper topnav">
        <a href="" class="brand-logo center" style="color: #002de1;">Scraper News</a>
        
        <ul class="right" id="nav-mobile">

    <li><a href="/clearall">Clear</a></li>

  </ul>
        <ul class="left" id="nav-mobile">

            <li><a href="https://jrvillalba1993.github.io/Portfolio/" target="_blank">Julian Villalba Portfolio</a></li>

        </ul>
    </div>
</nav>